html,
body {
  margin: 0;
  height: 100%;
  background: #000;
  overflow: hidden;
}

#game {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#game canvas {
  image-rendering: pixelated;
}
